.idea/.idea.Microservice-playground/.idea
.idea
Playground.Nl/CustomerManagementAPI/CustomerManagementAPI.Database/bin
Playground.Nl/CustomerManagementAPI/CustomerManagementAPI.Database/obj
Playground.Nl/CustomerManagementAPI/CustomerManagementAPI.Nl/bin
Playground.Nl/CustomerManagementAPI/CustomerManagementAPI.Nl/obj
Playground.Nl/CustomerManagementAPI/.DS_Store
Playground.Nl/obj
.DS_Store
Playground.Nl/CustomerManagementAPI/CustomerManagementAPI.Services/bin
Playground.Nl/CustomerManagementAPI/CustomerManagementAPI.Services/bin
Playground.Nl/CustomerManagementAPI/CustomerManagementAPI.Services/obj
Playground.Nl/OrderManagementAPI/bin
Playground.Nl/OrderManagementAPI/obj
